body {
  background-color: #262029;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-weight: bolder;
  padding: 5px;
}

.form-control {
  width: 50%;
}

.container {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  width: 815px;
  height: auto;
  background-color: #ffffff;
  border-radius: 25px;
}

#intro {
  padding-top: 10px;
  padding-bottom: 10px;
}

#survey {
  margin-top: 10px;
  margin-bottom: 10px;
}

#result {
  display: none;
  font-size: 18px;
  margin-top: 15px;
  padding: 10px;
}
#result-text {
  display: block;
  margin: auto;
  padding: 20px;
  background-color: #fecf4d;
}
